name: test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
        id: go

      # until go 1.18 is released we need to install the beta version as a separate step
      - name: Install beta version
        run: |
          go install golang.org/dl/go1.18beta2@latest
          go1.18beta2 download
          cp $(which go1.18beta2) $(which go)
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: go test ./...
